	/*
  	Flaticon icon font: Flaticon
  	Creation date: 15/07/2016 14:40
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-arrow:before { content: "\f100"; }
.flaticon-clock:before { content: "\f101"; }
.flaticon-nature:before { content: "\f102"; }
.flaticon-nature-1:before { content: "\f103"; }
.flaticon-placeholder:before { content: "\f104"; }
.flaticon-sun:before { content: "\f105"; }
.flaticon-technology:before { content: "\f106"; }
.flaticon-telephone:before { content: "\f107"; }
.flaticon-wind-mill:before { content: "\f108"; }