.captcha{
    margin-left: 3%;
}
.custom{
    width: 3% !important;
}
.custom_last{
    width: 12% !important;
}

#ip_address{
    display:none;
    clear: both;
    margin-bottom: 12px;
}

.radio-profile{
    margin-left: 21px;
    width: 50px;
    margin-top: 11px !important;
}

.margin-bottom-10{
    margin-bottom: 10px;
}
.margin_left_status{
    margin-left: 30px;
}

.skin-blue .main-header .logo {
    background-color: rgb(31,78,121);
}

.skin-blue .main-header .navbar {
    background-color: rgb(31,78,121);
}